.form-add-payment {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}

.full-width {
    width: 100%;
}

#button-add-payment {
    width: 100%;
    color: #fff;
    min-height: 8vh;
    margin-bottom: 80px;
    background-color: #ee6e73;
}

form {
    text-align: end;
    label {
        color: #0645ad;
        margin-bottom: 40px;
    }
    input#visa {
        background-image: url('../../../assets/icon/visa.svg');
        background-repeat: no-repeat;
        background-position: right;
        height: 30px;
    }
    input#info {
        background-image: url('../../../assets/icon/info.svg');
        background-repeat: no-repeat;
        background-position: right;
        height: 20px;
    }
}

.row {
    .fa-chevron-left {
        font-size: 20px;
        margin-top: 20px;
    }
    .col {
        text-align: center;
        h3 {
            margin-top: 40px;
        }
        h6 {
            margin-top: 20px;
            margin-bottom: 40PX;
        }
    }
}