<div class="container">
    <div class="row">
        <div class="col">
            <h2>Comprovante</h2>
        </div>
    </div>

    <mat-accordion>
        <mat-expansion-panel #mepPartner (click)="toogleExpasionPartner(mepPartner.expanded)">
            <mat-expansion-panel-header>
                Informações sobre a domestica
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-4">
                    <img src="../../../assets/icon/user.svg">
                </div>
                <div class="col-8">
                    <div>
                        <mat-card-title [innerHTML]="category?.viewValue"></mat-card-title>
                    </div>
                    <div>
                        <mat-card-subtitle>4.78
                            <span>
                          <img src="../../../assets/icon/star.svg">
                        </span>
                        </mat-card-subtitle>
                    </div>
                </div>
            </div>

            <mat-divider></mat-divider>

            <form [formGroup]="partner">
                <mat-form-field class="txt-form-field">
                    <mat-label>Nome:</mat-label>
                    <input type="text" #receipt.name formControlName="name" matInput>{{receipt.name}}
                </mat-form-field>

                <mat-form-field class="txt-form-field">
                    <mat-label>Sobrenome:</mat-label>
                    <input type="text" #receipt.lastname formControlName="lastName" matInput>{{receipt.lastname}}
                </mat-form-field>

                <mat-form-field class="txt-form-field">
                    <mat-label>idade:</mat-label>
                    <input type="text" #receipt.age formControlName="age" matInput>{{receipt.age}}
                </mat-form-field>

                <mat-form-field class="txt-form-field">
                    <mat-label>Código:</mat-label>
                    <input type="text" #receipt.id formControlName="id" matInput>{{receipt.id}}
                </mat-form-field>
            </form>

        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel #mepReceipt (click)="toogleExpasionReceipt(mepReceipt.expanded)">
            <mat-expansion-panel-header>
                Comprovante de pagamento
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>

            <form [formGroup]="payment">
                <mat-form-field class="txt-form-field">
                    <mat-label>Serviço:</mat-label>
                    <input type="text" #category.viewValue formControlName="service" matInput>{{ category.viewValue }}
                </mat-form-field>

                <mat-form-field class="txt-form-field">
                    <mat-label>Endereço:</mat-label>
                    <input type="text" #address?.logradouro formControlName="address" matInput>{{ address?.logradouro + ', ' + address?.numero + ' - ' + address?.localidade }}
                </mat-form-field>

                <mat-form-field class="txt-form-field">
                    <mat-label>Data:</mat-label>
                    <input type="text" #date.value formControlName="date" matInput>{{ date }}
                </mat-form-field>

                <mat-form-field class="txt-form-field">
                    <mat-label>Valor:</mat-label>
                    <input type="number" #category.payment formControlName="value" matInput>{{ category.payment | currency:'BRL':true }}
                </mat-form-field>
            </form>

        </mat-expansion-panel>
    </mat-accordion>

    <section>
        <button mat-raised-button id="mat-receipt" (click)="onConclude()">Concluir</button>
    </section>


</div>