<div>
    <div>
        <app-waze></app-waze>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Solicitação</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Do que você precisa?</h6>
                </div>
            </div>
            <form class="example-form">
                <mat-form-field>
                    <mat-label>Categoria:</mat-label>
                    <mat-select #f [formControl]="form" [errorStateMatcher]="matcher">
                        <mat-option id="option" *ngFor="let category of categories" [value]="category.value">
                            {{category.viewValue}}
                            <span *ngIf="select.panelOpen" id="id-payment">
                                <label id="payment" [innerHTML]="category.payment | currency:'BRL':true"></label>
                            </span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <section>
                    <button [disabled]="form.invalid" mat-raised-button [ngClass]="{'form-valid': form.valid, 'form-invalid': form.invalid}" (click)="onAddress(f.value)">Continuar</button>
                    <label>Não encontrou o que precisa?</label>
                </section>
            </form>
        </div>
    </div>
</div>