<div class="container">
    <div class="row">
        <i class="fas fa-chevron-left" (click)="onAddress()"></i>
        <div class="col">
            <h2>Solicitação</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Cadastre um endereço!</h6>
        </div>
    </div>
    <form [formGroup]="form" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>CEP:</mat-label>
            <input type="text" formControlName="cep" (keyup)="getAddress(form.value.cep)" matInput>
        </mat-form-field>
        <label>Esqueceu seu CEP?</label>

        <mat-form-field class="example-full-width">
            <mat-label>Rua:</mat-label>
            <input type="text" value="{{address.logradouro}}" disabled matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Número:</mat-label>
            <input type="text" formControlName="numero" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Bairro:</mat-label>
            <input type="text" value="{{address.bairro}}" disabled matInput>
        </mat-form-field>

        <section>
            <button type="button" mat-raised-button [ngClass]="{'form-valid': form.valid, 'form-invalid': form.invalid}" (click)="onSubmit(form)">Cadastrar</button>
        </section>
    </form>
</div>