<div>
    <div class="container">
        <div class="row">
            <i class="fas fa-chevron-left" (click)="onAddress()"></i>
            <div class="col">
                <h2>Solicitação</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Para quando você precisa?</h6>
            </div>
        </div>
        <form class="date-form">
            <mat-form-field>
                <input #input [formControl]="form" matInput [matDatepicker]="touchUi" disabled>
                <mat-datepicker-toggle matSuffix [for]="touchUi"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #touchUi disabled="false"></mat-datepicker>
            </mat-form-field>

            <section>
                <button type="button" [disabled]="form.invalid" [ngClass]="{'form-valid': form.valid, 'form-invalid': form.invalid}" mat-raised-button (click)="onConfirmation(input.value)">Continuar</button>
            </section>
        </form>
    </div>
</div>