<div>
    <div class="container">
        <div class="row">
            <i class="fas fa-chevron-left" (click)="onAddress()"></i>
            <div class="col">
                <h2>Solicitação</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Para quando você precisa?</h6>
            </div>
        </div>
        <form class="example-form">

            <mat-form-field>
                <input matInput [matDatepicker]="dp3" disabled>
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>

            <section>
                <button mat-raised-button id="mat-category" (click)="onConfirmation()">Continuar</button>
            </section>
        </form>
    </div>
</div>