.date-form {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}

.container {
    .row {
        .fa-chevron-left {
            font-size: 20px;
            margin-top: 20px;
        }
        .col {
            text-align: center;
            h2 {
                margin-top: 60px;
            }
            h6 {
                margin-top: 20px;
                margin-bottom: 40PX;
            }
        }
    }
    form {
        text-align: center;
        .mat-form-field {
            width: 80%;
        }
        section {
            text-align: center;
        }
        .form-valid {
            width: 80%;
            color: #fff;
            margin-top: 40px;
            min-height: 8vh;
            background-color: #ee6e73;
        }
        .form-invalid {
            width: 80%;
            color: #fff;
            margin-top: 40px;
            min-height: 8vh;
            background-color: #c4c4c4;
        }
    }
}

::ng-deep.mat-icon-button mat-button-base {
    left: -6px;
    position: relative;
}

::ng-deep.mat-calendar-previous-button {
    left: -40px;
    position: absolute;
}

::ng-deep.mat-calendar-next-button {
    left: -40px;
    position: absolute;
}

::ng-deep.mat-datepicker-toggle {
    right: 20px;
    position: relative;
}