<div class="container">
  <div class="row">
    <div class="col">
      <h2>Registre-se</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Já tem uma conta?<label (click)="onLogin()">&nbsp;Login</label></h6>
    </div>
  </div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>E-mail</mat-label>
      <input type="email" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Digite seu e-mail novamente</mat-label>
      <input type="email" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Escolha uma senha</mat-label>
      <input type="password" matInput>
    </mat-form-field>

    <section>
      <button mat-raised-button id="mat-register" (click)="onCategory()">Registre-se</button>
      <label>&nbsp;&nbsp;ou&nbsp;&nbsp;</label>
      <img src="../../assets/icon/facebook.svg">&nbsp;&nbsp;
      <img src="../../assets/icon/marcas-e-logotipos.svg">
    </section>
  </form>
</div>