.example-form {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

#mat-register {
    width: 100%;
    color: #fff;
    min-height: 8vh;
    background-color: #ee6e73;
}

form {
    text-align: end;
    label {
        color: #0645ad;
        margin-bottom: 40px;
    }
    input#visa {
        background-image: url('../../../assets/icon/visa.svg');
        background-repeat: no-repeat;
        background-position: right;
        height: 30px;
    }
    input#mastercard {
        background-image: url('../../../assets/icon/mastercard.svg');
        background-repeat: no-repeat;
        background-position: right;
        height: 30px;
    }
    input#coin {
        background-image: url('../../../assets/icon/coin.svg');
        background-repeat: no-repeat;
        background-position: right;
        height: 30px;
    }
}

.row {
    .fa-chevron-left {
        font-size: 20px;
        margin-top: 20px;
    }
    .col {
        text-align: center;
        h4 {
            margin-top: 70px;
        }
        h6 {
            margin-top: 20px;
            margin-bottom: 40PX;
        }
    }
}

section {
    margin-top: 40px;
}