<div class="container">
    <div class="row">
        <i class="fas fa-chevron-left" (click)="onDate()"></i>
        <div class="col">
            <h4>Forma de pagamento</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Escolha uma forma de pagamento</h6>
        </div>
    </div>
    <form class="example-form">

        <mat-list *ngFor="let payment of payments">
            <label>Final:</label>
            <mat-list-item (click)="selectPayment()">
                {{ payment.cardNumber ? '**** **** **** ' + payment.cardNumber : 'Dinheiro'}}
                <span><img src="../../../assets/icon/{{payment.typeCard}}.svg"></span>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

        <section>
            <button mat-raised-button id="mat-register" (click)="onAddPayment()">Adicionar forma de pagamento</button>
        </section>
    </form>
</div>